html, body{
		width: 100%;
}

.container{
	border:solid black 4px;
	margin: 20px 10px;
	border-radius: 10px;
	text-align: center;
	width: 30%;
}

.draggable{
	text-align: center;
	background-color: #99ccff;
	margin: 5px auto;
	padding: 5px;
	font-size: 1rem;
	border-radius: 5px;
}

.draggable:hover{
	cursor: move;
	font-size: 1.1rem;
	background-color: #86b4e3;
}

.dragging{
	background-color: #7be09b;
}

.draggedContainer{
	border:  solid #26753f 4px;
}