html, body{
	width: 100%;
	font-family: 'Lato', sans-serif;		
}

.container , .container_strengths , .container_actions{
	margin: 0;
	border-radius: 10px;
	text-align: center;
	width: 23%;
	padding: 0 30px;
}

.draggable{
	text-align: center;
	background-color: #7EBEC5;
	margin: 5px auto;
	padding: 5px;
	font-size: 1rem;
	border-radius: 5px;
	color: black;
	border: solid #7EBEC5 2px;
}


.draggable:hover{
	cursor: move;
	font-weight: bold;
	background-color: #012648;
	color: white;
}

.dragging{
	background-color: #012648;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white; 
}

.draggedContainer{
	border:  solid #0c71c3 4px;
}

.bigContainer{
	width: 100%;
	display: flex;
}

.strengthInput , .actionInput{
	border-radius: 5px;
	width: 95%;
	text-align: center;
	margin: 5px auto;
	border: solid #012648 2px;
	padding: 5px;
}

[contenteditable=true]:empty:before{
	color: grey;
	content: attr(placeholder);
	pointer-events: none;
	display: block; /* For Firefox */
}

.subtitle{
	min-height: 80px;
}


/*---------------      P R I N T      V E R S I O N   --------------*/
@media print {
  #weaknessesDrag{
  	display: none;
  }
  .container{
  	width: 30%;
  }
  .subtitle{
  	display: none;
  }
}